body{
    text-align: center;
}
.bg-green{
    background-color: green;
    font-size: 2em;
    margin-bottom: 2em;
    box-sizing: border-box;
}
.color-red{
    color: red;
}
p{
    margin-bottom: 2em;
}
input{
    margin-top: 2em;
}